html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
*::before, *::after {
  box-sizing: inherit;
}

.wrapper {
  width: 600px;
  margin: 100px auto;
  padding: 50px;
  border: 2px solid #3498db;
  background-color: #3498db;
}

.swipe {
  overflow: hidden;
  position: relative;
  visibility: hidden;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap li {
  float: left;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.slider__wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider__item {
  width: 100%;
  padding: 100px;
  border-right: 2px solid #3498db;
  font-size: 25px;
  font-family: "Tahoma", sans-serif;
  text-transform: uppercase;
  background-color: #ffffff;
  text-align: center;
}
.slider__item:last-child {
  border-right: 0;
}
